{% extends "layouts/base.html" %} 
{% block content %}
<article class="intro">
    <div>
      <h1>
        {{ intro.main }}
      </h1>
    </div>
    <div>
      <p>{{ intro.summary }}</p>
      <a href="{{ intro.buttonUrl}}" class= "landbutton">{{ intro.buttonText }}</a>
    </div>
    <div class="[ intro__media ] [ radius dot-shadow ]">
      <img
        class="[ intro__image ] [ radius ]"
        src="{{ intro.image }}"
        alt="{{ intro.imageAlt }}"
      />
    </div>
  </article>
{% endblock %}

