{% extends "layouts/base.html" %} 

{% block content %}
<h2>Privacy</h2>
<p>GoldChest Technologies has created this privacy policy statement in order to show our commitment to 
    your privacy. This webpage discloses the information gathering and dissemination practices for
    the website www.goldchestgh.com.
 </p>

<h2>External Links</h2>
 <p> This site contains links to some other sites. Goldchestgh.com and its authors
   are not responsible for the privacy practices or the content of such Websites.</p>

<h2>Authentication</h2>
<p>Some of our services will ask you to identify with Facebook so we can
retrieve information on your behalf. We will not look at your individual data. We do
reserve the right to aggregate usage data to measure the performance of our services,
but no identifiable personal information will ever be disclosed to third parties.
</p>

<h2>Cookies</h2>
<p>We use Cookies to analyze user activity in order to improve this Website. Cookies are files 
  with small amount of data, which may include an anonynous unique identifier. For example, 
  we use Google Analytics, a web analytics service provided by Google. The information generated 
  by the cookie about your use of our website will be transmitted to and stored by 
  Google on its servers. We can use such analysis to gain insights about how to improve the 
  functionality and experience of this website. We also use Google Adsense on this site to serve ads that are more relevant to your interests.</p>

<h2>Personal Information</h2>
<p>When you subscribe to an email list, we ask for your 
 email address. Your email address will only be used to contact
 you about newsletters on Goldchestgh.com. Your personal information will not be distributed to
 anyone for any purpose.</p>

<h2>Contacting Us</h2>
<p>If you have any questions concerning our website privacy policy or any other question
  on this website, feel free to contact us at 
  <a href= "mailto:goldchestgh@gmail.com" style= "color:#ff4200;">goldchestgh@gmail.com</a>.</p>

{% endblock %}
